<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="WebLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        <section name="CefSharp.MinimalExample.WinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><userSettings>
        <WebLibrary.Properties.Settings>
            <setting name="IsMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainForm_Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainForm_Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainForm_Width" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="MainForm_Height" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="VSplitterDistance" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="HSplitterDistance" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LibHome" serializeAs="String">
                <value/>
            </setting>
            <setting name="SortByColumn" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReverseSort" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColWidths" serializeAs="String">
                <value>200,50,80,20</value>
            </setting>
        </WebLibrary.Properties.Settings>
        <CefSharp.MinimalExample.WinForms.Properties.Settings>
            <setting name="IsMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainForm_Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainForm_Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainForm_Width" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="MainForm_Height" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="VSplitterDistance" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="HSplitterDistance" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LibHome" serializeAs="String">
                <value/>
            </setting>
            <setting name="ColName_Width" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ColType_Width" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ColDate_Width" serializeAs="String">
                <value>50</value>
            </setting>
        </CefSharp.MinimalExample.WinForms.Properties.Settings>
    </userSettings>
</configuration>
