<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebLibraryDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WebLibraryDownloader.Properties.Settings>
            <setting name="MainForm_Left" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MainForm_Top" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MainForm_Width" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="MainForm_Height" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="LibHome" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChromePath" serializeAs="String">
                <value />
            </setting>
        </WebLibraryDownloader.Properties.Settings>
    </userSettings>
</configuration>